@import "font.css";

* {
    box-sizing: border-box;
    font-family: var(--main_font);
}


:root {
    --new-game__background: #8f7a66;
    --body__background: #faf8ef;
    --game__field: #bbada0;
    --background_empty: rgba(238, 228, 218, 0.35);
    --black__font: #776e65;
    --background_2: #eee4da;
    --background_4: #ede0c8;
    --background_8: #f2b179;
    --background_16: #f59563;
    --background_32: #f67c5f;
    --background_64: #f65e3b;
    --background_128: #edcf72;
    --background_256: #edcc61;
    --background_512: #edc850;
    --background_1024: #edc53f;
    --background_2048: #edc22e;
    --white_color: #f9f6f2;
    --main_font: "Clear Sans", sans-serif;

}

body {
    background: var(--body__background);
}

.game__block {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.game__header {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.game__header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game__name {
    font-size: 80px;
    font-weight: bold;
    font-family: var(--main_font);
    color: var(--black__font);
}

.game__score {
    display: flex;
    flex-direction: column;
    background: var(--game__field);
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
    border-radius: 3px;
}

.game__score-title {
    color: var(--background_2);
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

.game__score-num {
    color: var(--white_color);
    font-size: 26px;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

.game__header-bottom {
    display: flex;
    justify-content: space-between;
}

.game__intro {
    color: var(--black__font);
    line-height: 42px;
    font-size: 18px;
}

.game__new-game {
    color: var(--white_color);
    border-radius: 3px;
    line-height: 42px;
    border: none;
    background: var(--new-game__background);
    cursor: pointer;
    font-size: 18px;
    padding: 0 20px;
    font-weight: bold;
}

.game__intro-bold {
    font-weight: bold;
}

.game__field {
    width: 600px;
    background: var(--game__field);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    margin-top: 40px;
    position: relative;
}

.game__squares {
    width: calc(600px/4 - 30px);
    height: calc(600px/4 - 30px);
    margin: 15px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background_empty);
    font-size: 48px;
    border-radius: 5px;
    font-family: var(--main_font);
    font-weight: bold;
    color: var(--black__font);
}

.game__squares_2{
    background: var(--background_2);
}

.game__squares_4 {
    background: var(--background_4);
}

.game__squares_8 {
    background: var(--background_8);
    color: var(--white_color);
}

.game__squares_16 {
    background: var(--background_16);
    color: var(--white_color);
}

.game__squares_32 {
    background: var(--background_32);
    color: var(--white_color);
}

.game__squares_64 {
    background: var(--background_64);
    color: var(--white_color);
}

.game__squares_128 {
    background: var(--background_128);
    color: var(--white_color);
}

.game__squares_256 {
    background: var(--background_256);
    color: var(--white_color);
}

.game__squares_512 {
    background: var(--background_512);
    color: var(--white_color);
}

.game__squares_1024 {
    background: var(--background_1024);
    color: var(--white_color);
}

.game__squares_2048 {
    background: var(--background_2048);
    color: var(--white_color);
}

.loose {
    position: absolute;
    top: 0;
    left: 0;
    background: whitesmoke;
    z-index: 5;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loose__loose {
    font-size: 100px;
    font-weight: bold;
    color: var(--black__font);
}

.loose__new-game {
    color: var(--white_color);
    border-radius: 3px;
    line-height: 42px;
    border: none;
    background: var(--new-game__background);
    cursor: pointer;
    padding: 20px 140px;
    font-size: 40px;
    font-weight: bold;
    opacity: 0.8;
}
